# Database configuration for the Golf Club Tournament application in AWS RDS MySQL instance
#DB_URL=
#DB_USERNAME=
#DB_PASSWORD=

# For local development, you can use the following settings to connect to a local MySQL database:
DB_USERNAME=
DB_PASSWORD=
DB_URL=jdbc:mysql://host.docker.internal:3306/warehouseInventory